/* Barra de navegação */
#logo {
  margin-left: 7.75%;
  position: fixed;
  top: 0px;
}
#logo img {
  width: 80px;
}
.menu-pc {
  position: absolute;
  width: 100%;
  z-index: 5;
  background-color: rgba(0, 0, 0, 0);
  min-width: 680px;
}
.menu-pc li {
  list-style-image: url('../imgs/navbar/bullet-branco-vaz.png');
  color: white;
  text-align: center;
  float: right;
  margin-right: 9.75%;
  box-sizing: border-box;
  z-index: 2;
  margin-top: -26.4px;
  list-style-position: inside;
}
.menu-pc li:first-child {
  margin-right: 25%;
}
.menu-pc li:last-child {
  list-style-image: url('../imgs/navbar/bullet-branco.png');
}
.menu-pc li:hover {
  list-style-image: url('../imgs/navbar/bullet-branco.png');
}
a.nav {
  display: block;
  text-decoration: none;
  color: white;
  margin-top: 2.75px;
}
hr {
  z-index: 7;
  height: 2.75px;
  border:none;
  color:#fff;
  background-color:#fff;
  margin-top: 65px;
  margin-bottom: 0px;
}
/*==================================================================*/
/* CARROSEL PRINCIPAL */
.img-slide { /* carrosel maior com imgs full screen */
  width: 100vw;
  height: 100vh;
}
.botao { /* botões dos finais de seção (a empresa e projetos) */
  height: 8vh;
  color: #002a3e;
  padding: 2vh 1.5vw;
  background-color: #ffffff;
  border: 0.75px solid #002a3e;
  margin: 4vh 0;
}
.botao-transp { /* botões transparentes do carrosel maior */
  font-size: 0.75rem;
  color: #ffffff;
  padding: 2vh 1vw;
  background: rgba(0, 0, 0, 0);
  border: 0.75px solid #ffffff;
  margin: 3vh 0;
}
/*==================================================================*/
/* EMPRESA */
.alinha-h > h4 {
  text-align: center;
  margin: 2vh auto 2vh auto;
}
.alinha-h { /* alinha div de carrosel da seção de historia */
  height: 30vh;
  text-align: center;
  margin: 2vh 0 2vh 0;
}
.alinha-p > p { /* alinha div de texto da seção de historia */
  padding: 0 5vw 0 5vw;
  text-align: justify;
  margin: 2vh 0 2vh 0;
}
#underline {
  border: 1.5px solid #002a3e;
}
/*==================================================================*/
/* CARROSEL */
.img-historia, .img-func { /* imgs dos carroseis menores */
  margin: 0 5px 0 3px !important;
  max-width: 200px;
  max-height: 200px;
}
.owl-carousel, .item {
  position: relative;
}
.owl-stage {
  display: flex;
  align-items: flex-end;
}
.owl-nav {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 110%;
}
.owl-prev {
  float: left;
}
.owl-next {
  float: right;
}
/*==================================================================*/
/* PROJETOS */
.margem1 {
  margin: 5vh auto 2vh auto;
}
.margem2 {
  margin: 2vh auto 5vh auto;
}
.container-projetos {
  height: 34vh;
}
#div-card {
  background-color: #ffffff;
  border: 10px solid #ffffff;
  box-shadow: 5px 5px 7px grey;
  border-radius: 0;
}
#div-card img {
  height: 25vh;
  border-radius: 0;
  vertical-align: middle;
}
#div-card:hover img {
  opacity: 0.35;
}
#div-card > span {
  visibility: hidden;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  line-height: 100%;
}
#div-card:hover span {
  color: #000;
  visibility: visible;
  text-align: center;
}
/*==================================================================*/
/* CONTATO */
#contato {
  background-color: #f27067;
}
.container-contato {
  height: 68vh;
}
a.botao-contato {
  margin: 0 2vw 0 2vw;
  text-decoration: none;
  color: #002a3e;
}
.botao-contato a:visited, .botao-contato a:hover, .botao-contato a:active {
  color: #002a3e;
  background-color: transparent;
  text-decoration: none;
}
#alinha-contato li {
  margin: -10vh 5vw 0 5vw;
}
#contato-p { /* paragrafo da seção contato */
  padding-right: 1vw;
  text-align: right;
  border-right: 3px solid #002a3e;
}
#img-telefone {
  min-height: 44vh;
  margin: 7.5vh auto 7.5vh auto;
}
