/* Barra de Navegação */
div#logo {
  margin-left: 7.75%;
  position: fixed;
  top: 0px;
}
div#logo img {
  width: 80px;
}
.menu-pc {
  position: absolute;
  width: 100%;
  z-index: 5;
  background-color: rgba(0, 0, 0, 0);
  min-width: 680px;
}
nav li {
  list-style-image: url('../imgs/navbar/bullet-branco-vaz.png');
  color: white;
  text-align: center;
  float: right;
  margin-right: 5%;
  box-sizing: border-box;
  z-index: 2;
  margin-top: -26.4px;
  list-style-position: inside;
}
nav li:first-child {
  margin-right: 25%;
}
nav li:last-child {
  list-style-image: url('../imgs/navbar/bullet-branco.png');
}
nav li:hover {
  list-style-image: url('../imgs/navbar/bullet-branco.png');
}
a.nav {
  display: block;
  text-decoration: none;
  color: white;
  margin-top: 0px;
}
hr {
  z-index: 7;
  height: 2.75px;
  border:none;
  color:#fff;
  background-color:#fff;
  margin-top: 65px;
  margin-bottom: 0px;
}
