@font-face {
    font-family: Museo;
    src: url(../font/MuseoSans_0.otf);
}
html, body {
   margin: 0;
   padding: 0;
   /*font-family: Museo;*/
}
div.modal-body img {
	width: 100%;
	margin-bottom: 7.5px;
}
.modal-header {
	text-align: center;
}
p {
	text-align: center;
	font-size: 0.85rem;

}
#img-rodape-modal {
	max-height: 10vh;
	margin: 2.5vh auto 2.5vh auto;
}